.home-container {
    height: 100vh;
    background-image: linear-gradient(-50deg, #021135 0%, #000410 100%);
}

.home-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    filter: blur(10px);
    width: 100%;
    height: 300px;
    background: url("https://res.cloudinary.com/dnho57ne8/image/upload/v1670516986/wave_nltyad.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-split{
    display: flex;
    height: 80vh;
    flex: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.home-left{
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10%;
    padding-top: 5%;
}

.home-left span{
    color: var(--primary-color);
}

.home-title{
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "holtwood", sans-serif;
}

.home-description {
    color: white;
    text-transform: uppercase;
    font-weight:lighter;
    font-family: "holtwood", sans-serif;
}

.home-right{
    padding-top: 10%;
    flex: 60%;
}

.home-right img {
    height: 400px;
}